PORT=4000
FIREBASE_PROJECT_ID=
# Use GOOGLE_APPLICATION_CREDENTIALS to point to your service account JSON
# GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/serviceAccount.json
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=+14155238886
ALLOW_SEND=false
DEMO_MODE=true

